<div class="card">
    <div class="font-semibold text-xl mb-4">Номенклатура</div>
    <p-table [value]="itemTypes"
        [lazy]="true"
        [paginator]="true"
        [(rows)]="pageSize"
        [(first)]="first"
        [totalRecords]="totalRows"
        [rowsPerPageOptions]="[10, 20, 50]"
        (onLazyLoad)="loadItemTypes($event)">
        <ng-template #caption>
            <div class="flex gap-4">
                <span class="grow flex">
                    <input class="grow" pInputText [(ngModel)]="query" placeholder="Поиск"
                        (ngModelChange)="loadItemTypes({})">
                </span>
                <span>
                    <p-button icon="pi pi-plus" (onClick)="edit()" label="Добавить"></p-button>
                </span>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Ед.изм.</th>
                <th>GTIN</th>
                <th>Группа</th>
                <th>Подгруппа</th>
                <th>Действия</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.units}}</td>
                <td>{{item.gtin}}</td>
                <td>{{item.group}}</td>
                <td>{{item.subgroup}}</td>
                <td>
                    <p-button icon="pi pi-pencil" (onClick)="edit(item.id)"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="delete(item.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-plus" text />
        </ng-template>
        <ng-template #paginatorright>
            <p-button type="button" icon="pi pi-cloud" text />
        </ng-template>
        -->
    </p-table>
</div>
