<div class="card">
    <div class="font-semibold text-xl mb-4">Контрагенты</div>
    <p-table [value]="contractors"
        [lazy]="true"
        [paginator]="true"
        [(rows)]="pageSize"
        [(first)]="first"
        [totalRecords]="totalRows"
        [rowsPerPageOptions]="[10, 20, 50]"
        (onLazyLoad)="loadData($event)">
        <ng-template #caption>
            <div class="flex gap-4">
                <span class="grow flex">
                    <input class="grow" pInputText [(ngModel)]="query" placeholder="Поиск"
                        (ngModelChange)="loadData({})">
                </span>
                <span>
                    <p-button icon="pi pi-plus" (onClick)="edit()" label="Добавить"></p-button>
                </span>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>#</th>
                <th>УНП</th>
                <th>Наименование</th>
                <th>Краткое наименование</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Эл.почта</th>
                <th>Контакт</th>
                <th>Действия</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.taxNumber}}</td>
                <td>{{item.title}}</td>
                <td>{{item.shortTitle}}</td>
                <td>{{item.address}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.contactPerson}}</td>
                <td>
                    <p-button icon="pi pi-pencil" (onClick)="edit(item.id)"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="delete(item.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-plus" text />
        </ng-template>
        <ng-template #paginatorright>
            <p-button type="button" icon="pi pi-cloud" text />
        </ng-template>
        -->
    </p-table>
</div>
