<form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="p-dialog">
        <div class="p-dialog-header">
            <div class="text-xl font-bold">
            @if (warehouseId) {
                Редактирование склада
            } @else {
                Создание склада
            }
            </div>
        </div>
        <div class="p-dialog-content">
            <div class="flex flex-col gap-6 w-full sm:w-auto">
                <div class="flex flex-col sm:flex-row sm:items-center gap-6">
                    <div class="flex-auto flex">
                        <p-floatLabel>
                            <input class="flex" id="title" pInputText formControlName="title">
                            <label for="title">Наименование</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto flex">
                        <p-floatLabel>
                            <input class="flex" id="address" pInputText formControlName="address">
                            <label for="address">Адрес</label>
                        </p-floatLabel>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer">
            <p-button label="Сохранить" type="submit"></p-button>
            <p-button label="Отмена" type="button" (onClick)="cancel()"></p-button>
        </div>
    </div>
</form>
