<form [formGroup]="fromGroup" (ngSubmit)="save()">
    <div class="p-dialog">
        <div class="p-dialog-header">
            <span class="test-xl font-bold">
                @if (contractorId) {
                Редактирование контрагента
                } @else {
                Создание контрагента
                }
            </span>
        </div>
        <div class="p-dialog-content">
            <div class="flex flex-col gap-4 w-full sm:w-auto">
                <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input fluid id="taxNumber" pInputText formControlName="taxNumber" [maxlength]="9">
                            <label for="taxNumber">УНП</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input fluid id="title" pInputText formControlName="title">
                            <label for="title">Наименование</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input fluid id="shortTitle" pInputText formControlName="shortTitle">
                            <label for="shortTitle">Краткое наименование</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input fluid id="address" pInputText formControlName="address">
                            <label for="address">Адрес</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input id="email" pInputText formControlName="email" fluid>
                            <label for="email">Электронная почта</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input id="phone" pInputText formControlName="phone" fluid>
                            <label for="phone">Телефон</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input id="contactPerson" pInputText formControlName="contactPerson" fluid>
                            <label for="contactPerson">Контактное лицо</label>
                        </p-floatLabel>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-dialog-footer">
            <p-button label="Сохранить" type="submit" [disabled]="fromGroup.invalid" severity="success"></p-button>
            <p-button label="Отмена" type="button" (onClick)="cancel()" severity="danger"></p-button>
        </div>
    </div>
</form>
