<form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="p-dialog">
        <div class="p-dialog-header">
            <span class="test-xl font-bold">
                @if (contractId) {
                Редактирование  договора
                } @else {
                Создание договора
                }
            </span>
        </div>
        <div class="p-dialog-content">
            <div class="flex flex-col gap-4 w-full sm:w-auto">
                <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                    <div class="flex-auto">
                        <p-autocomplete [forceSelection]="true" formControlName="contractor" [suggestions]="contractors" showClear="true"
                        (completeMethod)="completeContractors($event)" fluid placeholder="Выбирите контрагента"
                        (onClear)="clearSelection()" optionLabel="title"
                        >
                        <ng-template let-item #item>
                            {{item.title}}
                        </ng-template>
                    </p-autocomplete>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <input fluid id="contractNumber" pInputText formControlName="contractNumber">
                            <label for="contractNumber">Номер договора</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-floatLabel>
                            <p-datePicker formControlName="contractDate" id="contractDate"></p-datePicker>
                            <label for="contractDate">Дата договора</label>
                        </p-floatLabel>
                    </div>
                    <div class="flex-auto">
                        <p-editor formControlName="description" [style]="{ height: '320px' }" />
                    </div>
                </div>
            </div>

        </div>
        <div class="p-dialog-footer">
            <p-button label="Сохранить" type="submit" [disabled]="formGroup.invalid" severity="success"></p-button>
            <p-button label="Отмена" type="button" (onClick)="cancel()" severity="danger"></p-button>
        </div>
    </div>
</form>
